body {
  background: #ecedfa;
  /* background: rgb(240, 240, 240) */
  color: rgb(20, 20, 20);
  font-family: 'Open Sans', arial, sans-serif;
}

#home-section {
  background: url(/img/Banner-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 100vh;
}

.font-alt {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.section-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.section-text {
  font-size: 15px;
  font-weight: 300;
  color: #777;
  line-height: 1.7;
  text-align: justify;
}

.parallax-image {
  min-height: 150px;
  background: url(/img/parallax-img.jpg);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.card {
  min-height: 200px;
}

.contact-link {
  font-size: 30px;
}
